{"openapi":"3.0.1","servers":[{"url":"https://sandbox-erede.useredecloud.com.br","description":"Endereço de Sandbox do e.Rede"}],"info":{"version":"1.0.0","title":"APIs e.Rede","description":"# Introdução\nUma solução de pagamento para quem quer vender a débito e crédito pela internet com facilidade e segurança. Os pagamentos são processados pela Rede e direto na página da loja. Confira nossa documentação, bibliotecas e módulos em \"detalhes\". Crie sua loja em \"minha loja\" para começar a utilizar o playground."},"security":[{"basicAuth":[]},{"bearerAuth":[]}],"tags":[{"name":"Transação"},{"name":"Cancelamento"}],"paths":{"/v1/transactions":{"get":{"tags":["Transação"],"summary":"Consultar transação por reference","operationId":"consultarTransacaoPorReference","security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/authorization"},{"$ref":"#/components/parameters/reference"}],"description":"A consulta da transação pode ser realizada de duas maneiras:\n* A primeira é informando o tid gerado na transação de autorização. [endpoint abaixo]\n* A segunda é informando o número do pedido criado pelo estabelecimento (reference). [este endpoint]\n\nObs: O prazo para consulta de pré autorizações pendentes e transações  de zero dollar é de 60 dias.\nApós esse prazo o status da consulta retornará como: not found.\n","responses":{"200":{"$ref":"#/components/responses/Response200ConsultarTransacao"}}},"post":{"tags":["Transação"],"summary":"Realizar transação","operationId":"realizarTransacao","security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/authorization"}],"description":"Vide abaixo em \"Request body\" a combobox de \"Examples\" com a diversidade de opções possíveis. Veja mais abaixo\nem \"Responses\" a combobox de \"Examples\" com seus respectivos retornos.\n\nPara maiores explicações sobre cada opção, vide a seção \"Documentação\" mais acima nesta página, acessível\nfacilmente pelo menu lateral.\n","requestBody":{"$ref":"#/components/requestBodies/RequestBodyPostTransactions"},"responses":{"200":{"$ref":"#/components/responses/ResponsePostTransactions"},"400":{"$ref":"#/components/responses/Response400PostTransactions"}}}},"/v1/transactions/{tid}":{"get":{"tags":["Transação"],"summary":"Consultar transação por tid","operationId":"consultarTransacaoPorTid","security":[{"basicAuth":[]}],"description":"A consulta da transação pode ser realizada de duas maneiras:\n* A primeira é informando o tid gerado na transação de autorização. [este endpoint]\n* A segunda é informando o número do pedido criado pelo estabelecimento (reference). [endpoint acima]\n\nObs: O prazo para consulta de pré autorizações pendentes e transações  de zero dollar é de 60 dias.\nApós esse prazo o status da consulta retornará como: not found.\n","parameters":[{"$ref":"#/components/parameters/authorization"},{"$ref":"#/components/parameters/tid"}],"responses":{"200":{"$ref":"#/components/responses/Response200ConsultarTransacao"}}},"put":{"tags":["Transação"],"summary":"Confirmar autorização da transação (captura)","operationId":"confirmarAutorizacaoDaTransacaoCaptura","description":"Ao realizar uma autorização, é necessária a confirmação desta transação (captura). Nesse momento é gerada a cobrança na fatura do portador do cartão.","security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/authorization"},{"$ref":"#/components/parameters/tid"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectRequestBodyAmount"}}}},"responses":{"200":{"$ref":"#/components/responses/Response200ConfirmarCaptura"}}}},"/v1/transactions/{tid}/refunds":{"get":{"tags":["Cancelamento"],"summary":"Consultar cancelamento por tid","operationId":"consultarCancelamentoPorTid","description":"A consulta de cancelamento por tid lista todos os cancelamentos que foram realizados na transação.","security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/authorization"},{"$ref":"#/components/parameters/tid"}],"responses":{"200":{"$ref":"#/components/responses/Response200ConsultaCancelamentoTid"}}},"post":{"tags":["Cancelamento"],"summary":"Cancelar transação","operationId":"cancelarTransacao","security":[{"basicAuth":[]}],"description":"O cancelamento pode ser solicitado para todas as transações.\n","requestBody":{"$ref":"#/components/requestBodies/RequestBodyCancelarTransacao"},"parameters":[{"$ref":"#/components/parameters/authorization"},{"$ref":"#/components/parameters/tid"}],"responses":{"200":{"$ref":"#/components/responses/Response200CancelarTransacao"}}}},"/v1/transactions/{tid}/refunds/{refundId}":{"get":{"tags":["Cancelamento"],"summary":"Consultar cancelamento por refundId","operationId":"consultarCancelamentoPorRefundId","description":"A consulta de cancelamento por refundId lista uma solicitação de cancelamento específica.","security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/authorization"},{"$ref":"#/components/parameters/tid"},{"$ref":"#/components/parameters/refundId"}],"responses":{"200":{"$ref":"#/components/responses/Response200ConsultaCancelamentoRefundId"}}}},"/transactions/v1/transaction-receipt":{"post":{"tags":["Disparo de comprovantes recibo de transaçao"],"summary":"Realiza o disparo de um comprovante","operationId":"DisparoComprovantePG3","description":"Após a conclusão de uma transação, o fluxo do Iti permitirá que o cliente opte por receber o\ncomprovante. Essa API possibilita a requisição por parte do backend do Iti.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/salesReceiptRequest"}}}},"responses":{"201":{"$ref":"#/components/responses/Response201SuccessMessageTransactionReceipt"},"400":{"$ref":"#/components/responses/Response400BadRequestTransactionReceipt"},"415":{"$ref":"#/components/responses/Response415UnsupportedMediaTypeTransactionReceipt"},"422":{"$ref":"#/components/responses/Response422FieldErrorMessageTransactionReceipt"},"500":{"$ref":"#/components/responses/Response500ServerErrorMessageTransactionReceipt"}}}}},"components":{"securitySchemes":{"basicAuth":{"type":"http","scheme":"basic"},"bearerAuth":{"type":"http","scheme":"bearer"}},"parameters":{"authorization":{"in":"header","name":"Authorization","schema":{"type":"string"},"required":true,"description":"Token de acesso ao serviço: Basic {{hash_pv_token}}","example":"Basic NzM4NTQ5Njc6NjA2OWEwMjZjZjQ1NDcwNjk5MGE4MDFhYjVmZThlMzY="},"tid":{"in":"path","name":"tid","required":true,"description":"Número identificador único da transação. Tamanho Máximo (20).","schema":{"type":"string","maxLength":20},"example":"9274256037511432483"},"refundId":{"in":"path","name":"refundId","required":true,"schema":{"type":"string","minLength":36,"maxLength":36},"description":"Código de retorno do cancelamento gerado pela Rede.\nCaso a transação seja cancelada por outro canal que não seja a API, este campo retornará vazio, não sendo possível consultar por refundId. Tamanho Exato (36).","example":"d21c0fa9-aa0f-4b9f-aedc-a1d4ed08e03d"},"reference":{"in":"query","name":"reference","required":true,"schema":{"type":"string","maxLength":16},"description":"Número do pedido gerado pelo estabelecimento. Tamanho Máximo (16).","example":"pedido123"}},"requestBodies":{"RequestBodyCancelarTransacao":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectRequestBodyCancelarTransacaoPOST"}}}},"RequestBodyPostTransactions":{"required":true,"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ObjectRequestBodyPostTransactionsAutorizacao"},{"$ref":"#/components/schemas/ObjectRequestBodyPostTransactionsCompanhiasAereas"},{"$ref":"#/components/schemas/ObjectRequestBodyPostTransactions3DSecureMpiRede"},{"$ref":"#/components/schemas/ObjectRequestBodyPostTransactions3DSecureMpiCliente"},{"$ref":"#/components/schemas/ObjectRequestBodyPostTransactions3DSecure2MpiRede"},{"$ref":"#/components/schemas/ObjectRequestBodyPostTransactions3DSecure2MpiCliente"},{"$ref":"#/components/schemas/ObjectRequestBodyPostTransactionsZeroDollar"},{"$ref":"#/components/schemas/ObjectRequestBodyPostTransactionsMCCDinamico"},{"$ref":"#/components/schemas/ObjectRequestBodyPostTransactionsCarteirasDigitais"},{"$ref":"#/components/schemas/ObjectRequestBodyPostTransactionsCBPSCarteirasDigitais"},{"$ref":"#/components/schemas/ObjectRequestBodyPostTransactionsCASH-INCarteirasDigitais"},{"$ref":"#/components/schemas/ObjectRequestBodyPostTransactionsPURCHASECarteirasDigitais"},{"$ref":"#/components/schemas/ObjectRequestBodyPostTransactionsTokenizacaoDeBandeiras"}]},"examples":{"exemplo1":{"$ref":"#/components/examples/ObjectRequestBodyPostTransactionsAutorizacao"},"exemplo2":{"$ref":"#/components/examples/ObjectRequestBodyPostTransactionsCompanhiasAereas"},"exemplo3":{"$ref":"#/components/examples/ObjectRequestBodyPostTransactions3DSecureMpiRede"},"exemplo4":{"$ref":"#/components/examples/ObjectRequestBodyPostTransactions3DSecureMpiCliente"},"exemplo5":{"$ref":"#/components/examples/ObjectRequestBodyPostTransactions3DSecure2MpiRede"},"exemplo6":{"$ref":"#/components/examples/ObjectRequestBodyPostTransactions3DSecure2MpiCliente"},"exemplo7":{"$ref":"#/components/examples/ObjectRequestBodyPostTransactionsZeroDollar"},"exemplo8":{"$ref":"#/components/examples/ObjectRequestBodyPostTransactionsMCCDinamico"},"exemplo9":{"$ref":"#/components/examples/ObjectRequestBodyPostTransactionsCarteirasDigitais"},"exemplo10":{"$ref":"#/components/examples/ObjectRequestBodyPostTransactionsCBPSCarteirasDigitais"},"exemplo11":{"$ref":"#/components/examples/ObjectRequestBodyPostTransactionsCASH-INCarteirasDigitais"},"exemplo12":{"$ref":"#/components/examples/ObjectRequestBodyPostTransactionsPURCHASECarteirasDigitais"},"exemplo13":{"$ref":"#/components/examples/ObjectRequestBodyPostTransactionsTokenizacaoDeBandeiras"}}}}}},"schemas":{"ObjectRequestBodyPostTransactionsAutorizacao":{"title":"Transação - POST Realizar transação - Request Body - Autorização","type":"object","required":["reference","amount","cardNumber","expirationMonth","expirationYear"],"properties":{"capture":{"type":"boolean","example":false,"description":"Define se uma transação terá captura automática ou posterior. O não envio desse campo será considerado uma captura automática (true)"},"kind":{"type":"string","example":"credit","description":"Tipo de transação a ser realizada.\n- Para transações de crédito, utilizar \"credit\"\n- Para transações de débito, utilizar \"debit\"\n\nO não envio desse campo será considerado crédito\n"},"reference":{"type":"string","example":"pedido123","description":"Código do pedido gerado pelo estabelecimento","maxLength":16},"amount":{"type":"number","description":"Valor total da transação sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n","example":2099},"installments":{"type":"number","minimum":2,"maximum":12,"example":2,"description":"Número de parcelas em que uma transação será autorizada. O não envio desse campo será considerado à vista."},"cardholderName":{"type":"string","description":"Nome do portador impresso no cartão.","example":"John Snow","maxLength":30},"cardNumber":{"type":"string","maxLength":19,"description":"Número do Cartão","example":"5448280000000007"},"expirationMonth":{"type":"number","minimum":1,"maximum":12,"description":"Mês de vencimento do cartão","example":12},"expirationYear":{"type":"number","description":"Ano de vencimento do cartão. Exemplo: 2028 ou 28. Quantidade Exata de Dígitos (ou 2 ou 4).","example":2028},"securityCode":{"type":"string","description":"Código de segurança do cartão geralmente localizado no verso do cartão. O envio desse parâmetro garante maior possibilidade de aprovação da transação.","maxLength":4,"example":"235"},"softDescriptor":{"type":"string","maxLength":18,"description":"Frase personalizada que será impressa na fatura do portador"},"subscription":{"type":"boolean","example":false,"description":"Informa ao emissor se uma transação é proveniente de uma recorrência. Se transação por uma recorrência, enviar \"true\". Caso contrário, envie \"false\". O não envio desse campo será considerado o valor \"false\".\n\nA Rede não gerencia os agendamentos de recorrência, apenas permite aos lojistas indicarem se uma transação originada é de um plano recorrente.\n"},"origin":{"type":"number","description":"Identifica a origem da transação.\n* e.Rede - 1\n* MasterPass – 4\n* Click to Pay - 6\n\nQuantidade Máxima de Dígitos (2).\nO não envio desse campo será considerado uma transação e.Rede (1)\n","example":1},"distributorAffiliation":{"type":"number","description":"Número de filiação do distribuidor (PV). Quantidade Máxima de Dígitos (9)."},"brandTid":{"type":"string","maxLength":16,"description":"Identifica a primeira e como demais transações de recorrência através do envio deste campo. Só é utilizado quando para uma recorrência (subscription> true). Campo dinâmico. OBS: Campo utilizado somente para as bandeiras Visa e Master"},"storageCard":{"type":"string","maxLength":1,"example":"1","description":"Indica operações que possam ou não estar utilizando COF (Card on File): \n* 0 - Transação com credencial não armazenada.\n* 1 - Transação com credencial armazenada pela primeira vez.\n* 2 - Transação com credencial já armazenada.\n\nAtenção: O não envio desse campo será consdiderado 0 (credencial não armazenada).\n"}}},"ObjectRequestBodyPostTransactionsCompanhiasAereas":{"title":"Transação - POST Realizar transação - Request Body - Companhias Aéreas","type":"object","required":["reference","amount","cardNumber","expirationMonth","expirationYear"],"properties":{"capture":{"type":"boolean","example":true,"description":"Define se uma transação terá captura automática ou posterior. O não envio desse campo será considerado uma captura automática (true)"},"reference":{"type":"string","example":"pedido123","description":"Código do pedido gerado pelo estabelecimento","maxLength":16},"amount":{"type":"number","description":"Valor total da transação sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n","example":2099},"cardholderName":{"type":"string","description":"Nome do portador impresso no cartão.","example":"John Snow","maxLength":30},"cardNumber":{"type":"string","maxLength":19,"description":"Número do Cartão","example":"5448280000000007"},"expirationMonth":{"type":"number","minimum":1,"maximum":12,"description":"Mês de vencimento do cartão","example":12},"expirationYear":{"type":"number","description":"Ano de vencimento do cartão. Exemplo: 2028 ou 28. Quantidade Exata de Dígitos (ou 2 ou 4).","example":2028},"securityCode":{"type":"string","description":"Código de segurança do cartão geralmente localizado no verso do cartão. O envio desse parâmetro garante maior possibilidade de aprovação da transação.","maxLength":4,"example":"235"},"iata":{"$ref":"#/components/schemas/ObjectIata"}}},"ObjectRequestBodyPostTransactions3DSecureMpiRede":{"title":"Transação - POST Realizar transação - Request Body - 3D Secure: MPI Rede","type":"object","required":["reference","amount","cardNumber","expirationMonth","expirationYear"],"properties":{"kind":{"type":"string","description":"Tipo de transação a ser realizada.\n- Para transações de crédito, utilizar \"credit\"\n- Para transações de débito, utilizar \"debit\"\n\nO não envio desse campo será considerado crédito\n","example":"debit"},"capture":{"type":"boolean","example":true,"description":"Define se uma transação terá captura automática ou posterior. O não envio desse campo será considerado uma captura automática (true)"},"reference":{"type":"string","example":"pedido123","description":"Código do pedido gerado pelo estabelecimento","maxLength":16},"amount":{"type":"number","description":"Valor total da transação sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n","example":2099},"cardholderName":{"type":"string","description":"Nome do portador impresso no cartão.","example":"John Snow","maxLength":30},"cardNumber":{"type":"string","maxLength":19,"description":"Número do Cartão","example":"2223000148400010"},"expirationMonth":{"type":"number","minimum":1,"maximum":12,"description":"Mês de vencimento do cartão.De 1 a 12. Quantidade Máxima de Dígitos (2).","example":12},"expirationYear":{"type":"number","description":"Ano de vencimento do cartão. Ex - 2028 ou 28. Quantidade Minima de Dígitos (2). Quantidade Máxima de Dígitos (4).","example":2028},"securityCode":{"type":"string","description":"Código de segurança do cartão geralmente localizado no verso do cartão. O envio desse parâmetro garante maior possibilidade de aprovação da transação.","maxLength":4,"example":"235"},"threeDSecure":{"$ref":"#/components/schemas/ObjectThreeDSecureRede"},"urls":{"type":"array","items":{"$ref":"#/components/schemas/ObjectUrlThreeDSecureRede"},"example":[{"kind":"threeDSecureSuccess","url":"https://scommerce.userede.com.br/LojaTeste/Venda/sucesso"},{"kind":"threeDSecureFailure","url":"https://scommerce.userede.com.br/LojaTeste/Venda/erro"}]}}},"ObjectRequestBodyPostTransactions3DSecureMpiCliente":{"title":"Transação - POST Realizar transação - Request Body - 3D Secure: MPI Cliente","type":"object","required":["amount","cardNumber","expirationMonth","expirationYear"],"properties":{"reference":{"type":"string","example":"pedido123","description":"Código do pedido gerado pelo estabelecimento","maxLength":16},"amount":{"type":"number","description":"Valor total da transação sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n","example":2099},"cardholderName":{"type":"string","description":"Nome do portador impresso no cartão.","example":"John Snow","maxLength":30},"cardNumber":{"type":"string","maxLength":19,"description":"Número do Cartão","example":"5448280000000007"},"expirationMonth":{"type":"number","minimum":1,"maximum":12,"description":"Mês de vencimento do cartão.De 1 a 12. Quantidade Máxima de Dígitos (2).","example":12},"expirationYear":{"type":"number","description":"Ano de vencimento do cartão. Ex - 2028 ou 28. Quantidade Minima de Dígitos (2). Quantidade Máxima de Dígitos (4).","example":2028},"securityCode":{"type":"string","description":"Código de segurança do cartão geralmente localizado no verso do cartão. O envio desse parâmetro garante maior possibilidade de aprovação da transação.","maxLength":4,"example":"235"},"threeDSecure":{"$ref":"#/components/schemas/ObjectThreeDSecureClient"}}},"ObjectRequestBodyPostTransactions3DSecure2MpiRede":{"title":"Transação - POST Realizar transação - Request Body - 3D Secure 2.0: MPI Rede","type":"object","required":["reference","amount","cardNumber","expirationMonth","expirationYear"],"properties":{"capture":{"type":"boolean","example":true,"description":"Define se uma transação terá captura automática ou posterior. O não envio desse campo será considerado uma captura automática (true)"},"reference":{"type":"string","example":"pedido123","description":"Código do pedido gerado pelo estabelecimento","maxLength":16},"amount":{"type":"number","description":"Valor total da transação sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n","example":2099},"cardholderName":{"type":"string","description":"Nome do portador impresso no cartão.","example":"John Snow","maxLength":30},"cardNumber":{"type":"string","maxLength":19,"description":"Número do Cartão","example":"2223000148400010"},"expirationMonth":{"type":"number","minimum":1,"maximum":12,"description":"Mês de vencimento do cartão.De 1 a 12. Quantidade Máxima de Dígitos (2).","example":12},"expirationYear":{"type":"number","description":"Ano de vencimento do cartão. Ex - 2028 ou 28. Quantidade Minima de Dígitos (2). Quantidade Máxima de Dígitos (4).","example":2028},"securityCode":{"type":"string","description":"Código de segurança do cartão geralmente localizado no verso do cartão. O envio desse parâmetro garante maior possibilidade de aprovação da transação.","maxLength":4,"example":"235"},"threeDSecure":{"$ref":"#/components/schemas/ObjectThreeDSecureRedeV2"},"urls":{"type":"array","items":{"$ref":"#/components/schemas/ObjectUrlThreeDSecureRede"},"example":[{"kind":"threeDSecureSuccess","url":"https://scommerce.userede.com.br/LojaTeste/Venda/sucesso"},{"kind":"threeDSecureFailure","url":"https://scommerce.userede.com.br/LojaTeste/Venda/erro"}]}}},"ObjectRequestBodyPostTransactions3DSecure2MpiCliente":{"title":"Transação - POST Realizar transação - Request Body - 3D Secure 2.0: MPI Cliente","allOf":[{"$ref":"#/components/schemas/ObjectRequestBodyPostTransactions3DSecureMpiCliente"}],"properties":{"threeDSecure":{"$ref":"#/components/schemas/ObjectThreeDSecureClientV2"}}},"ObjectRequestBodyPostTransactionsZeroDollar":{"title":"Transação - POST Realizar transação - Request Body - Zero dollar","required":["reference","amount","cardNumber","expirationMonth","expirationYear"],"properties":{"capture":{"type":"boolean","example":true,"description":"Define se a transação terá captura automática ou posterior. O não envio desse campo será considerado uma captura automática (true).\n\nPara transação Zero Dollar o valor do parâmetro deve ser definido como true.\n"},"kind":{"type":"string","enum":["credit","debit"],"example":"credit","description":"Tipo de transação a ser realizada.\n\nO não envio desse campo será considerado credit.\n\nPara transação Zero Dollar o valor do parâmetro deve ser definido como credit.\n"},"reference":{"type":"string","example":"TZD001","description":"Código do pedido gerado pelo estabelecimento","maxLength":16},"amount":{"type":"number","description":"Para transação Zero Dollar enviar o valor 0.","example":0,"maxLength":10},"cardholderName":{"type":"string","description":"Nome do portador impresso no cartão.","example":"John Snow","maxLength":30},"cardNumber":{"type":"string","maxLength":19,"description":"Número do Cartão","example":"5448280000000007"},"expirationMonth":{"type":"number","minimum":1,"maximum":12,"description":"Mês de vencimento do cartão","example":12},"expirationYear":{"type":"number","description":"Ano de vencimento do cartão. Exemplo: 2028 ou 28. Quantidade Exata de Dígitos (ou 2 ou 4).","example":2028},"securityCode":{"type":"string","description":"Código de segurança do cartão geralmente localizado no verso do cartão. O envio desse parâmetro garante maior possibilidade de aprovação da transação.","maxLength":4,"example":"235"}}},"ObjectRequestBodyPostTransactionsMCCDinamico":{"title":"Transação - POST Realizar transação - Request Body - MCC dinâmico","required":["reference","amount","cardNumber","expirationMonth","expirationYear","softDescriptor","PaymentFacilitatorID"],"properties":{"reference":{"type":"string","example":"pedido123","description":"Código do pedido gerado pelo estabelecimento","maxLength":16},"amount":{"type":"number","description":"Para transação Zero Dollar enviar o valor 0.","example":2099},"cardholderName":{"type":"string","description":"Nome do portador impresso no cartão.","example":"John Snow","maxLength":30},"cardNumber":{"type":"string","maxLength":19,"description":"Número do Cartão","example":"5448280000000007"},"expirationMonth":{"type":"number","minimum":1,"maximum":12,"description":"Mês de vencimento do cartão","example":12},"expirationYear":{"type":"number","description":"Ano de vencimento do cartão. Exemplo: 2028 ou 28. Quantidade Exata de Dígitos (ou 2 ou 4).","example":2028},"securityCode":{"type":"string","description":"Código de segurança do cartão geralmente localizado no verso do cartão. O envio desse parâmetro garante maior possibilidade de aprovação da transação.","maxLength":4,"example":"235"},"softDescriptor":{"type":"string","maxLength":18,"description":"Frase personalizada que será impressa na fatura do portador. Para informação referente ao MCC dinâmico, equivale ao nome do sublojista.","example":"LOJADOZE"},"PaymentFacilitatorID":{"type":"number","description":"Código do facilitador. Quantidade Máxima de Dígitos (11).","example":22349202212},"IndependentSalesOrganizationID":{"type":"number","description":"Código da organização de vendas independente. Quantidade Máxima de Dígitos (11).","example":1234567},"SubMerchant":{"$ref":"#/components/schemas/ObjectSubMerchant"}}},"ObjectRequestBodyPostTransactionsCarteirasDigitais":{"title":"Transação - POST Realizar transação - Request Body - Carteiras digitais","type":"object","required":["reference","amount","cardNumber","expirationMonth","expirationYear"],"properties":{"reference":{"type":"string","example":"pedido578","description":"Código do pedido gerado pelo estabelecimento","maxLength":16},"amount":{"type":"number","description":"Valor total da transação sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n","example":2099},"cardholderName":{"type":"string","description":"Nome do portador impresso no cartão.","example":"Joao das Neves","maxLength":30},"cardNumber":{"type":"string","maxLength":19,"description":"Número do Cartão","example":"5448280000000007"},"expirationMonth":{"type":"number","minimum":1,"maximum":12,"description":"Mês de vencimento do cartão","example":12},"expirationYear":{"type":"number","description":"Ano de vencimento do cartão. Exemplo: 2028 ou 28. Quantidade Exata de Dígitos (ou 2 ou 4).","example":2028},"securityCode":{"type":"string","description":"Código de segurança do cartão geralmente localizado no verso do cartão. O envio desse parâmetro garante maior possibilidade de aprovação da transação.","maxLength":4,"example":"235"},"origin":{"type":"number","description":"Para MasterPass enviar valor 4.\n\nPara Click to Pay enviar valor 6.\n\nQuantidade Máxima de Dígitos (2).\n","example":4},"storageCard":{"type":"string","minLength":1,"maxLength":1,"description":"Informa se o cartão será armazenado pelo estabelecimento.\n* 0 - transação com credencial não armazenada\n* 1 - transação com credencial armazenada pela primeira vez\n* 2 - transação com credencial já armazenada\n\nO não envio desse campo será considerado 0 (credencial não armazenada).\n","example":"1"}}},"ObjectRequestBodyPostTransactionsCBPSCarteirasDigitais":{"title":"Transação - POST Realizar transação - Request Body - CBPS + Carteiras digitais","type":"object","required":["reference","amount","cardNumber","expirationMonth","expirationYear","processingType","businessApplicationIdentifier"],"properties":{"capture":{"type":"boolean","example":false,"description":"Define se uma transação terá captura automática ou posterior. O não envio desse campo será considerado uma captura automática (true)"},"reference":{"type":"string","example":"c202012291716","description":"Código do pedido gerado pelo estabelecimento","maxLength":16},"amount":{"type":"number","description":"Valor total da transação sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n","example":953},"cardNumber":{"type":"string","maxLength":19,"description":"Número do Cartão","example":"5448280000000007"},"expirationMonth":{"type":"number","minimum":1,"maximum":12,"description":"Mês de vencimento do cartão","example":12},"expirationYear":{"type":"number","description":"Ano de vencimento do cartão. Exemplo: 2028 ou 28. Quantidade Exata de Dígitos (ou 2 ou 4).","example":2020},"securityCode":{"type":"string","description":"Código de segurança do cartão geralmente localizado no verso do cartão. O envio desse parâmetro garante maior possibilidade de aprovação da transação.","maxLength":4,"example":"123"},"BusinessApplicationIdentifier":{"type":"string","description":"É o campo utilizado para identificar uma transação de carteira e que também será realizada utilizando o serviço CBPS.","maxLength":2,"example":"01"},"wallet":{"$ref":"#/components/schemas/ObjectWallet"},"processingType":{"type":"string","description":"Identifica o tipo de operação se é um Cash-in (02) ou Purchase (01)","maxLength":2,"example":"01"},"senderTaxIdentification":{"type":"string","description":"Identificação do recebedor realizada através de um parâmetro que comportará o número de CPF, para pessoas físicas e CNPJ para pessoas jurídicas","maxLength":14,"example":"44444433322211"}}},"ObjectRequestBodyPostTransactionsCASH-INCarteirasDigitais":{"title":"Transação - POST Realizar transação - Request Body - CASH-IN + Carteiras digitais","type":"object","required":["reference","amount","cardNumber","expirationMonth","expirationYear","processingType","businessApplicationIdentifier","senderTaxIdentification"],"properties":{"capture":{"type":"boolean","example":false,"description":"Define se uma transação terá captura automática ou posterior. O não envio desse campo será considerado uma captura automática (true)"},"reference":{"type":"string","example":"m202203021601","description":"Código do pedido gerado pelo estabelecimento","maxLength":16},"amount":{"type":"number","description":"Valor total da transação sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n","example":953},"cardNumber":{"type":"string","maxLength":19,"description":"Número do Cartão","example":"5448280000000007"},"expirationMonth":{"type":"number","minimum":1,"maximum":12,"description":"Mês de vencimento do cartão","example":12},"expirationYear":{"type":"number","description":"Ano de vencimento do cartão. Exemplo: 2028 ou 28. Quantidade Exata de Dígitos (ou 2 ou 4).","example":2020},"securityCode":{"type":"string","description":"Código de segurança do cartão geralmente localizado no verso do cartão. O envio desse parâmetro garante maior possibilidade de aprovação da transação.","maxLength":4,"example":"123"},"BusinessApplicationIdentifier":{"type":"string","description":"É o campo utilizado para identificar uma transação de carteira e que também será realizada utilizando o serviço CBPS.","maxLength":2,"example":"02"},"wallet":{"$ref":"#/components/schemas/ObjectWallet"},"processingType":{"type":"string","description":"Identifica o tipo de operação se é um Cash-in (02) ou Purchase (01)","maxLength":2,"example":"02"},"senderTaxIdentification":{"type":"string","description":"Identificação do recebedor realizada através de um parâmetro que comportará o número de CPF, para pessoas físicas e CNPJ para pessoas jurídicas","maxLength":14,"example":"44444433322211"}}},"ObjectRequestBodyPostTransactionsPURCHASECarteirasDigitais":{"title":"Transação - POST Realizar transação - Request Body - PURCHASE + Carteiras digitais","type":"object","required":["reference","amount","cardNumber","expirationMonth","expirationYear","processingType","businessApplicationIdentifier"],"properties":{"capture":{"type":"boolean","example":false,"description":"Define se uma transação terá captura automática ou posterior. O não envio desse campo será considerado uma captura automática (true)"},"reference":{"type":"string","example":"m202203021601","description":"Código do pedido gerado pelo estabelecimento","maxLength":16},"amount":{"type":"number","description":"Valor total da transação sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n","example":953},"cardNumber":{"type":"string","maxLength":19,"description":"Número do Cartão","example":"5448280000000007"},"expirationMonth":{"type":"number","minimum":1,"maximum":12,"description":"Mês de vencimento do cartão","example":12},"expirationYear":{"type":"number","description":"Ano de vencimento do cartão. Exemplo: 2028 ou 28. Quantidade Exata de Dígitos (ou 2 ou 4).","example":2020},"securityCode":{"type":"string","description":"Código de segurança do cartão geralmente localizado no verso do cartão. O envio desse parâmetro garante maior possibilidade de aprovação da transação.","maxLength":4,"example":"123"},"BusinessApplicationIdentifier":{"type":"string","description":"É o campo utilizado para identificar uma transação de carteira e que também será realizada utilizando o serviço CBPS.","maxLength":2,"example":"01"},"wallet":{"$ref":"#/components/schemas/ObjectWallet"},"processingType":{"type":"string","description":"Identifica o tipo de operação se é um Cash-in (02) ou Purchase (01)","maxLength":2,"example":"01"},"senderTaxIdentification":{"type":"string","description":"Identificação do recebedor realizada através de um parâmetro que comportará o número de CPF, para pessoas físicas e CNPJ para pessoas jurídicas","maxLength":14,"example":"44444433322211"}}},"ObjectRequestBodyPostTransactionsTokenizacaoDeBandeiras":{"title":"Transação - POST Realizar transação - Request Body - Tokenizacão de Bandeiras","type":"object","required":["reference","amount","cardNumber","expirationMonth","expirationYear"],"properties":{"capture":{"type":"boolean","example":true,"description":"Define se uma transação terá captura automática ou posterior. O não envio desse campo será considerado uma captura automática (true)"},"kind":{"type":"string","example":"credit","description":"Tipo de transação a ser realizada.\n- Para transações de crédito, utilizar \"credit\"\n- Para transações de débito, utilizar \"debit\"\n\nO não envio desse campo será considerado crédito\n"},"reference":{"type":"string","example":"m150420163135479","description":"Código do pedido gerado pelo estabelecimento","maxLength":16},"amount":{"type":"number","description":"Valor total da transação sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n","example":2099},"cardholderName":{"type":"string","description":"Nome do portador impresso no cartão.","example":"John Snow","maxLength":30},"cardNumber":{"type":"string","maxLength":19,"description":"Número do Cartão","example":"2223000250000004"},"expirationMonth":{"type":"number","minimum":1,"maximum":12,"description":"Mês de vencimento do cartão","example":11},"expirationYear":{"type":"number","description":"Ano de vencimento do cartão. Exemplo: 2028 ou 28. Quantidade Exata de Dígitos (ou 2 ou 4).","example":2026},"securityCode":{"type":"string","description":"Código de segurança do cartão geralmente localizado no verso do cartão. O envio desse parâmetro garante maior possibilidade de aprovação da transação.","maxLength":4,"example":"122"},"tokenCryptogram":{"type":"string","description":"Token informado pela Bandeira. Identificar transações tokenizadas.","example":"ANbuvvxnDbK2AAEShHMWGgADFA=="},"storageCard":{"type":"string","maxLength":1,"example":"1","description":"Indica operações que possam ou não estar utilizando COF (Card on File): \n* 0 - Transação com credencial não armazenada.\n* 1 - Transação com credencial armazenada pela primeira vez.\n* 2 - Transação com credencial já armazenada.\n\nAtenção: O não envio desse campo será consdiderado 0 (credencial não armazenada).\n"}}},"ObjectResponsePostTransactionsAbstract":{"title":"Transação - POST Realizar transação - Response - Abstract","type":"object","properties":{"reference":{"type":"string","example":"pedido123","description":"Código do pedido gerado pelo estabelecimento","maxLength":16},"tid":{"type":"string","maxLength":20,"description":"Número identificador único da transação","example":"8345000363484052380"},"nsu":{"type":"string","maxLength":12,"description":"Número sequencial retornado pela Rede.","example":"663206341"},"authorizationCode":{"type":"string","minLength":6,"maxLength":6,"description":"Número da autorização da transação retornada pelo emissor do cartão.","example":"186376"},"dateTime":{"type":"string","minLength":29,"maxLength":29,"description":"Data da transação no formato YYYY-MM-DDThh:mm:ss.STZD","pattern":"^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}[+-]\\d{2}:\\d{2}","example":"2017-02-28T08:54:00.000-03:00"},"amount":{"type":"number","description":"Valor total da transação sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n","example":2099},"cardBin":{"type":"string","minLength":6,"maxLength":6,"description":"6 primeiros dígitos do cartão","example":"544828"},"last4":{"type":"string","minLength":4,"maxLength":4,"example":"0007","description":"4 últimos dígitos do cartão"},"returnCode":{"type":"string","maxLength":4,"example":"00","description":"Código de retorno da transação"},"returnMessage":{"type":"string","maxLength":256,"description":"Mensagem de retorno da transação","example":"Success."},"links":{"type":"array","items":{"$ref":"#/components/schemas/ObjectLink"},"example":[{"method":"GET","rel":"transaction","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380"},{"method":"PUT","rel":"capture","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380"},{"method":"POST","rel":"refund","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380/refunds"}]}}},"ObjectResponsePostTransactionsAutorizacao":{"title":"Transação - POST Realizar transação - Response - Autorização","allOf":[{"$ref":"#/components/schemas/ObjectResponsePostTransactionsAbstract"}],"properties":{"brandTid":{"type":"string","maxLength":16,"description":"Identificador que diferencia a primeira recorrência das subsequentes."},"instalments":{"type":"number","maxLength":2,"description":"Número de parcelas em que uma transação será autorizada. De 2 a 12. O não envio desse campo trata-se de parcela à vista."}}},"ObjectResponsePostTransactionsCompanhiasAereas":{"title":"Transação - POST Realizar transação - Response - Companhias Aéreas","allOf":[{"$ref":"#/components/schemas/ObjectResponsePostTransactionsAbstract"}]},"ObjectResponsePostTransactions3DSecureMpiRede":{"title":"Transação - POST Realizar transação - Response - 3D Secure: MPI Rede","type":"object","properties":{"dateTime":{"type":"string","minLength":29,"maxLength":29,"description":"Data do cancelamento no formato YYYY-MM-DDThh:mm:ss.STZD","pattern":"^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}[+-]\\d{2}:\\d{2}","example":"2017-02-12T10:54:00.000-03:00"},"threeDSecure":{"type":"object","properties":{"embedded":{"type":"boolean","description":"Informa se o serviço MPI utilizado será da Rede ou terceiro"},"url":{"type":"string","maxLength":500,"description":"Url de autenticação retornada pelo sistema MPI","example":"https://localhost:55888/auth?token=Eh%2bs8NvL719YKUJ%2bbmq7xf0TWhJAm2vP1c3FDf9a9OaYOaYB9N%2bOSWqXlX2y9ARjr%2bWqtBzuQSkdZXOnKhecSAgjJW3S3yrc7S5IeLe3JeoOsJXu8VtkdHo9v%2bv28OOO%2bjp2LCuL45lZzHji7fJ6thg6Cz9Z4U572NUjXtxMSVV%2b1%2fQqBRqO3qLJlAduU%2fYcnOzl10eB3%2fgoJelC964%2bAmLSTQFs6ERXOR3fGTIJT14zGr9rhK7vynXj0NIcvXfTYJLreCXw%2bclMCg5gzfdfHz8tvuNjcxKZJ1VWSc%2fiH4A%3d"}}},"returnCode":{"type":"string","example":"220","maxLength":3,"description":"Código de retorno da transação com 3ds (vide tabela [retornos 3DS](e-rede#retornos-3ds))."},"returnMessage":{"type":"string","example":"Transaction request with authentication received. Redirect URL sent.","maxLength":256,"description":"Mensagem de retorno da transação com 3ds (vide tabela [retornos 3DS](e-rede#retornos-3ds))."}}},"ObjectResponsePostTransactions3DSecureMpiCliente":{"title":"Transação - POST Realizar transação - Response - 3D Secure: MPI Cliente","allOf":[{"$ref":"#/components/schemas/ObjectResponsePostTransactionsAbstract"}]},"ObjectResponsePostTransactions3DSecure2MpiRede":{"title":"Transação - POST Realizar transação - Response - 3D Secure 2.0: MPI Rede","allOf":[{"$ref":"#/components/schemas/ObjectResponsePostTransactions3DSecureMpiRede"}],"properties":{"threeDSecure":{"example":[{"url":"https://scommerce.userede.com.br/adquirencia/mpi/auth?token=7z3nVtKnea4Gsf4N%2bpeM2j8M%2fund%2bTfwDNVoAZLC7EqKC3gqzOjlDV0%2fpg928%2bh1sABmy1ZPlzyWxTqakpotWa%2f7lq9wsDZ6b4Yk8KVXxR1xM00UmxR05V2bZiq%2bF%2fcrscUWE76jS%2fDRokAa1RTEhn18Yw8Q7SAZafPc4YCpdWYgfVUxtZP4FDrC2KAqayjpzPL85JjYDeujUdCgVhEhWimXLkkH6iJfC2qYPppv94iHm4CYlAyKsxmjkb76KFFOB4uGocaHSR%2fOgDoOTyTxmxZ%2fTtH45WKq%2b4XmqG9LnDI%3d"}]}}},"ObjectResponsePostTransactions3DSecure2MpiCliente":{"title":"Transação - POST Realizar transação - Response - 3D Secure 2.0: MPI Cliente","allOf":[{"$ref":"#/components/schemas/ObjectResponsePostTransactionsAbstract"}]},"ObjectResponsePostTransactionsZeroDollar":{"title":"Transação - POST Realizar transação - Response - Zero dollar","allOf":[{"$ref":"#/components/schemas/ObjectResponsePostTransactionsAbstract"}]},"ObjectResponsePostTransactionsMCCDinamico":{"title":"Transação - POST Realizar transação - Response - MCC dinâmico","allOf":[{"$ref":"#/components/schemas/ObjectResponsePostTransactionsAbstract"}],"properties":{"brandTid":{"type":"number","description":"Código identificador da transação na respectiva bandeira. Quantidade Máxima de Dígitos (16).","example":1234567890123456}}},"ObjectResponsePostTransactionsCarteirasDigitais":{"title":"Transação - POST Realizar transação - Response - Carteiras digitais","allOf":[{"$ref":"#/components/schemas/ObjectResponsePostTransactionsAbstract"}]},"ObjectResponsePostTransactionsCBPSCarteirasDigitais":{"title":"Transação - POST Realizar transação - Response - CBPS + Carteiras digitais","allOf":[{"$ref":"#/components/schemas/ObjectResponsePostTransactionsAbstract"}]},"ObjectResponsePostTransactionsCASH-INCarteirasDigitais":{"title":"Transação - POST Realizar transação - Response - CASH-IN + Carteiras digitais","allOf":[{"$ref":"#/components/schemas/ObjectResponsePostTransactionsAbstract"}]},"ObjectResponsePostTransactionsPURCHASECarteirasDigitais":{"title":"Transação - POST Realizar transação - Response - PURCHASE + Carteiras digitais","allOf":[{"$ref":"#/components/schemas/ObjectResponsePostTransactionsAbstract"}]},"ObjectResponsePostTransactionsTokenizacaoDeBandeiras":{"title":"Transação - POST Realizar transação - Response - Tokenizacão de Bandeiras","description":"<details>\n  <summary>Tabela de Retornos</summary>\n\n  Os retornos são exibidos sempre que houver algo de errado na sua requisição, permitindo assim a correção imediata.\n\n  |returnCode|returnMessage|Descrição|\n  |:--|:--|:--|\n  |3020|Cryptogram: Invalid parameter size.|Tamanho diferente de 28 posições|\n  |3021|Cryptogram: Invalid parameter format.|Formato diferente do especificado|\n</details>","allOf":[{"$ref":"#/components/schemas/ObjectResponsePostTransactionsMCCDinamico"}]},"ObjectResponse200ConsultarTransacao":{"title":"Transação - GET Consultar transação - Response - 200","type":"object","properties":{"requestDateTime":{"type":"string","minLength":29,"maxLength":29,"description":"Data da requisição no formato YYYY-MM-DDThh:mm:ss.STZD","pattern":"^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}[+-]\\d{2}:\\d{2}","example":"2017-03-12T08:54:00.000-03:00"},"authorization":{"$ref":"#/components/schemas/ObjectAuthorization"},"capture":{"$ref":"#/components/schemas/ObjectCapture"},"threeDSecure":{"$ref":"#/components/schemas/ObjectThreeDSecureConsultarTransacao"},"refunds":{"$ref":"#/components/schemas/ObjectRefundsConsultarTransacao"},"links":{"type":"array","items":{"$ref":"#/components/schemas/ObjectLink"},"example":[{"method":"POST","rel":"refund","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380/refunds"},{"method":"PUT","rel":"capture","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380"}]}}},"ObjectResponse400PostTransactions":{"title":"Transação - POST Realizar transação - Response - 400","type":"object","properties":{"returnCode":{"description":"Código de erro","type":"string","example":"3025"},"returnMessage":{"description":"Mensagem de erro","type":"string","example":"Deny Category 01: This card should not be used"}}},"ObjectRequestBodyAmount":{"title":"Transação - PUT Confirmar autorização da transação (captura) - Request Body","type":"object","properties":{"amount":{"type":"number","example":2099,"description":"Valor do cancelamento sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n"}}},"ObjectResponse200ConfirmarCaptura":{"title":"Transação - PUT Confirmar autorização da transação (captura) - Response 200","type":"object","properties":{"reference":{"description":"Número do pedido gerado pelo estabelecimento","type":"string","example":"pedido123","maxLength":16},"tid":{"description":"Número identificador único da transação","type":"string","example":"8345000363484052380","maxLength":20},"nsu":{"description":"Número sequencial retornado pela Rede","type":"string","example":"7648531","maxLength":12},"authorizationCode":{"description":"Número da autorização da transação retornada pelo emissor do cartão","type":"string","example":"186376","minLength":6,"maxLength":6},"dateTime":{"type":"string","minLength":29,"maxLength":29,"description":"Data da transação no formato YYYY-MM-DDThh:mm:ss.STZD","pattern":"^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}[+-]\\d{2}:\\d{2}","example":"2017-02-28T08:54:00.000-03:00"},"returnCode":{"description":"Código de retorno da transação","type":"string","example":"00","maxLength":4},"returnMessage":{"description":"Mensagem de retorno da transação","type":"string","example":"Success.","maxLength":256},"links":{"type":"array","items":{"$ref":"#/components/schemas/ObjectLink"},"example":[{"method":"GET","rel":"transaction","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/9274256037511432483"},{"method":"POST","rel":"refund","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/9274256037511432483/refunds"}]}}},"ObjectRequestBodyCancelarTransacaoPOST":{"title":"Cancelamento - POST Cancelar transacao - Request Body","type":"object","required":["amount"],"properties":{"amount":{"type":"number","example":2000,"description":"Valor do cancelamento sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n"},"urls":{"type":"array","items":{"$ref":"#/components/schemas/ObjectUrlCallback"}}}},"ObjectResponse200CancelarTransacao":{"title":"Cancelamento - POST Cancelar transacao - Response - 200","type":"object","properties":{"returnCode":{"type":"string","maxLength":4,"description":"Código de retorno da transação (vide tabela [retornos de cancelamento](e-rede#retornos-cancelamento))","example":"360"},"returnMessage":{"type":"string","maxLength":256,"description":"Mensagem de retorno da transação (vide tabela [retornos de cancelamento](e-rede#retornos-cancelamento)).","example":"Refund request has been successful"},"refundId":{"type":"string","minLength":36,"maxLength":36,"description":"Código de retorno da solicitação de cancelamento gerado pela Rede.\nCaso a transação seja cancelada por outro canal que não seja a API, este campo retornará vazio.","example":"d21c0fa9-aa0f-4b9f-aedc-a1d4ed08e03d"},"tid":{"type":"string","maxLength":20,"description":"Número identificador único da transação.","example":"9274256037511432483"},"nsu":{"type":"string","maxLength":12,"description":"Número sequencial retornado pela Rede.","example":"750004939"},"refundDateTime":{"type":"string","minLength":29,"maxLength":29,"description":"Data do cancelamento no formato YYYY-MM-DDThh:mm:ss.STZD","pattern":"^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}[+-]\\d{2}:\\d{2}","example":"2017-02-11T08:45:00.000-03:00"},"cancelId":{"type":"string","maxLength":15,"description":"Código identificador da transação de solicitação cancelamento, retornado somente em solicitações D+1.","example":"786524681"},"links":{"type":"array","items":{"$ref":"#/components/schemas/ObjectLink"},"example":[{"method":"GET","rel":"refund","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/9274256037511432483/refunds/5938e353-a6e7-430f-bac3-869acf1e7665"},{"method":"GET","rel":"transaction","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/9274256037511432483"},{"method":"GET","rel":"refunds","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/9274256037511432483/refunds"}]}}},"ObjectResponse200ConsultaCancelamentoTid":{"title":"Cancelamento - GET Consultar cancelamento por tid - Response 200","type":"object","properties":{"refunds":{"type":"array","items":{"$ref":"#/components/schemas/ObjectRefund"}},"links":{"type":"array","items":{"$ref":"#/components/schemas/ObjectLink"},"example":[{"method":"GET","rel":"transaction","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/23457040715"}]}}},"ObjectResponse200ConsultaCancelamentoRefundId":{"title":"Cancelamento - GET Consultar cancelamento por refundId - Response 200","type":"object","properties":{"refundId":{"type":"string","minLength":36,"maxLength":36,"description":"Código de retorno do cancelamento gerado pela Rede\n\nCaso a transação seja cancelada por outro canal que não seja a API, este campo retornará vazio.\n","example":"d21c0fa9-aa0f-4b9f-aedc-a1d4ed08e03d"},"tid":{"type":"string","maxLength":20,"description":"Número identificador único da transação","example":"9274256037511432483"},"refundDateTime":{"type":"string","minLength":29,"maxLength":29,"description":"Data do cancelamento no formato YYYY-MM-DDThh:mm:ss.STZD","pattern":"^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}[+-]\\d{2}:\\d{2}","example":"2017-01-28T08:33:00.000-03:00"},"cancelId":{"type":"string","maxLength":15,"description":"Código identificador da transação de solicitação cancelamento, retornado somente em solicitações D+1.","example":"786524681"},"amount":{"type":"number","example":2000,"description":"Valor do cancelamento sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n"},"status":{"type":"string","maxLength":10,"description":"Status da solicitação de cancelamento\n * Done (Cancelamento efetivado)\n * Denied (Cancelamento negado)\n * Processing (Cancelamento em processamento)\n","example":"Processing"},"statusHistory":{"type":"array","items":{"$ref":"#/components/schemas/ObjectStatusHistory"},"description":"Histórico do status das solicitações de cancelamentos"},"returnCode":{"type":"string","maxLength":3,"description":"Código de retorno da transação","example":"00"},"returnMessage":{"type":"string","maxLength":256,"description":"Mensagem de retorno da transação","example":"Success."},"links":{"type":"array","items":{"$ref":"#/components/schemas/ObjectLink"},"example":[{"method":"GET","rel":"transaction","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/9274256037511432483."}]}}},"ObjectAuthorization":{"title":"Object - Authorization","type":"object","properties":{"dateTime":{"type":"string","minLength":29,"maxLength":29,"description":"Data da transação de autorização no formato YYYY-MM-DDThh:mm:ss.sTZD","pattern":"^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}[+-]\\d{2}:\\d{2}","example":"2017-03-11T08:54:00.000-03:00"},"returnCode":{"type":"string","maxLength":3,"description":"Código de retorno da transação","example":"00"},"returnMessage":{"type":"string","maxLength":256,"description":"Mensagem de retorno da transação","example":"Success."},"affiliation":{"type":"number","description":"Número de filiação do estabelecimento (PV). Quantidade Máxima de Dígitos (9).","example":37502603},"status":{"type":"string","description":"Status da transação\n* Approved\n* Denied\n* Canceled\n* Pending\n","example":"Pending"},"reference":{"type":"string","maxLength":16,"description":"Número de pedido gerado pelo estabelecimento","example":"pedido123"},"tid":{"type":"string","maxLength":20,"description":"Número identificador único da transação","example":"8345000363484052380"},"nsu":{"type":"string","maxLength":12,"description":"Número sequencial retornado pela Rede","example":"663206341"},"authorizationCode":{"type":"string","minLength":6,"maxLength":6,"description":"Número de Autorização da transação retornada pelo emissor do cartão","example":"186376"},"kind":{"type":"string","maxLength":10,"description":"Método de pagamento utilizado na transação original (Credit ou Debit)","example":"Credit"},"amount":{"type":"number","description":"Valor total da compra sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n","example":2099},"installments":{"type":"number","description":"Número de parcelas. Quantidade Máxima de Dígitos (2).","example":2},"currency":{"type":"string","example":"BRL"},"cardHolderName":{"type":"string","maxLength":30,"description":"Nome do portador impresso no cartão","example":"John Snow"},"cardBin":{"type":"string","minLength":6,"maxLength":6,"description":"6 primeiros dígitos do cartão","example":"544828"},"last4":{"type":"string","minLength":4,"maxLength":4,"description":"4 últimos dígitos do cartão","example":"0007"},"softDescriptor":{"type":"string","maxLength":18,"description":"Mensagem que será exibida ao lado no nome do estabelecimento na fatura do portador","example":"lojarede"},"origin":{"type":"number","description":"Identifica a origem da transação. Quantidade Máxima de Dígitos (2).\n* e.Rede - 1\n* Click to Pay - 4\n* MasterPass – 6\n","example":1},"subscription":{"type":"boolean","description":"Informa ao emissor se a transação é proveniente de uma recorrência. Se transação for uma recorrência, enviar true. Caso contrário, enviar false.\n\nO não envio desse campo será considerado o valor false.\n\nA Rede não gerencia os agendamentos de recorrência, apenas permite aos lojistas indicarem se a transação se originou de uma recorrência.\n","example":false},"distributorAffiliation":{"type":"number","description":"Número de filiação do distribuidor (PV). Quantidade Máxima de Dígitos (9)."}}},"ObjectCapture":{"title":"Object - Capture","type":"object","properties":{"dateTime":{"type":"string","minLength":29,"maxLength":29,"description":"Data da transação de captura no formato YYYY-MM-DDThh:mm:ss.STZD","pattern":"^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}[+-]\\d{2}:\\d{2}"},"nsu":{"type":"string","maxLength":12,"description":"Número sequencial retornado pela Rede na transação de captura"},"amount":{"type":"number","description":"Valor da captura. Quantidade Máxima de Dígitos (10)"}}},"ObjectIata":{"title":"Object - Iata","type":"object","required":["code","departureTax"],"properties":{"code":{"type":"number","description":"Código iata da companhia aérea. Quantidade Máxima de Dígitos (9).","example":101010},"departureTax":{"type":"number","description":"Valor da taxa de embarque sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n","example":100}}},"ObjectLink":{"title":"Object - Link","type":"object","properties":{"method":{"type":"string","example":"GET","description":"Método HTTP"},"rel":{"type":"string","example":"refund"},"href":{"type":"string","example":"https://sandbox-erede.useredecloud.com.br/v1/transactions/9274256037511432483/refunds/5938e353-a6e7-430f-bac3-869acf1e7665"}}},"ObjectRefund":{"title":"Object - Refund","type":"object","properties":{"refundId":{"type":"string","minLength":36,"maxLength":36,"description":"Código de retorno do cancelamento gerado pela Rede\n\nCaso a transação seja cancelada por outro canal que não seja a API, este campo retornará vazio.\n","example":"d21c0fa9-aa0f-4b9f-aedc-a1d4ed08e03d"},"refundDateTime":{"type":"string","minLength":29,"maxLength":29,"description":"Data do cancelamento no formato YYYY-MM-DDThh:mm:ss.STZD","pattern":"^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}[+-]\\d{2}:\\d{2}","example":"2017-02-23T00:00:00.000-03:00"},"cancelId":{"type":"string","maxLength":15,"description":"Código identificador da transação de solicitação cancelamento, retornado somente em solicitações D+1","example":"917054151307902"},"status":{"type":"string","maxLength":10,"description":"Status da solicitação de cancelamento\n * Done (Cancelamento efetivado)\n * Denied (Cancelamento negado)\n * Processing (Cancelamento em processamento)\n","example":"Processing"},"amount":{"type":"number","example":1000,"description":"Valor do cancelamento sem separador de milhar e casa decimal. Quantidade Máxima de Dígitos (10). Exemplos:\n- R$ 10,00 = 1000\n- R$ 0,50 = 50\n"}}},"ObjectRefundsConsultarTransacao":{"title":"Object - Refunds do consultar transação","type":"object","properties":{"dateTime":{"type":"string","minLength":29,"maxLength":29,"description":"Data da transação de cancelamento no formato YYYY-MM-DDThh:mm:ss.STZD","pattern":"^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}[+-]\\d{2}:\\d{2}"},"refundId":{"type":"string","minLength":36,"maxLength":36,"description":"Código de retorno da solicitação de cancelamento gerado pela Rede"},"status":{"type":"string","maxLength":10,"description":"Status da solicitação de cancelamento\n * Done (Cancelamento efetivado)\n * Denied (Cancelamento negado)\n * Processing (Cancelamento em processamento)\n","example":"Processing"},"amount":{"type":"number","description":"Valor do cancelamento. Quantidade Máxima de Dígitos (10)."}}},"ObjectStatusHistory":{"title":"Object - Status History","type":"object","properties":{"status":{"type":"string","maxLength":10,"description":"Status da solicitação de cancelamento\n * Done (Cancelamento efetivado)\n * Denied (Cancelamento negado)\n * Processing (Cancelamento em processamento)\n","example":"Processing"},"dateTime":{"type":"string","minLength":29,"maxLength":29,"description":"Data do cancelamento no formato YYYY-MM-DDThh:mm:ss.STZD","pattern":"^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}[+-]\\d{2}:\\d{2}","example":"2017-01-28T08:33:00.000-03:00"}}},"ObjectSubMerchant":{"title":"Object - SubMerchant","type":"object","required":["MCC","SubMerchantID","State","Country","Cep","TaxIdNumber"],"properties":{"MCC":{"type":"number","example":1111,"description":"MCC do sublojista. Quantidade Exata de Dígitos (4)."},"SubMerchantID":{"type":"number","example":1234567890,"description":"Código do sublojista. Quantidade Máxima de Dígitos (15)."},"Address":{"type":"string","maxLength":48,"example":"Rua Acre","description":"Endereço do Sublojista"},"City":{"type":"string","maxLength":13,"example":"CAPIVARI","description":"Cidade do sublojista"},"State":{"type":"string","minLength":2,"maxLength":2,"example":"SP","description":"Estado do sublojista"},"Country":{"type":"string","maxLength":3,"example":"BRA","description":"País do sublojista"},"Cep":{"type":"string","maxLength":9,"example":"07064-010","description":"Código postal do sublojista"},"Cnpj":{"type":"string","maxLength":18,"example":"71.789.371/0001-42","description":"CNPJ do sublojista"},"TaxIdNumber":{"type":"string","maxLength":14,"example":"99999999999","description":"CPF ou CNPJ do sublojista"}}},"ObjectThreeDSecureConsultarTransacao":{"title":"Object - ThreeDSecure do consultar transação","type":"object","properties":{"embedded":{"type":"boolean","description":"Informa se o serviço MPI utilizado será da Rede ou terceiro"},"eci":{"type":"string","minLength":2,"maxLength":2,"description":"Código retornado ao MPI pelas Bandeiras que indica o resultado da autenticação do portador junto ao Emissor. Deve ser enviado apenas para a utilização do serviço de autenticação 3DS. Transações de débito devem ser obrigatoriamente autenticadas."},"cavv":{"type":"string","maxLength":32,"example":"BwABBylVaQAAAAFwllVpAAAAAAA=","description":"Código do criptograma utilizado na autenticação da transação e enviado pelo MPI do estabelecimento (pode conter caracteres especiais). Deve ser enviado apenas para a utilização do serviço de autenticação 3DS."},"xid":{"type":"string","minLength":28,"maxLength":28,"description":"ID da transação de autenticação enviado pelo MPI ao estabelecimento (pode conter caracteres especiais). Deve ser enviado apenas para a utilização do serviço de autenticação 3DS. Campo utilizado somente para bandeira Visa."},"returnCode":{"type":"string","minLength":3,"maxLength":3,"description":"Código de retorno da transação com 3ds"},"returnMessage":{"type":"string","maxLength":256,"description":"Mensagem de retorno da transação com 3ds"}}},"ObjectThreeDSecureClient":{"title":"Object - ThreeDSecureClient","type":"object","required":["cavv","eci","xid"],"properties":{"embedded":{"type":"boolean","example":false,"description":"Informa se o serviço MPI utilizado será da Rede ou terceiro.\n  - true: utiliza o serviço MPI da Rede\n  - false: utiliza serviço MPI terceiro\n\nO não envio desse campo será considerado o uso do MPI da Rede (true).\n"},"cavv":{"type":"string","maxLength":32,"example":"BwABBylVaQAAAAFwllVpAAAAAAA=","description":"Código do criptograma utilizado na autenticação da transação e enviado pelo MPI do estabelecimento (pode conter caracteres especiais). Deve ser enviado apenas para a utilização do serviço de autenticação 3DS."},"eci":{"type":"string","minLength":2,"maxLength":2,"example":"05","description":"Código retornado ao MPI pelas Bandeiras que indica o resultado da autenticação do portador junto ao Emissor. Deve ser enviado apenas para a utilização do serviço de autenticação 3DS. Transações de débito devem ser obrigatoriamente autenticadas."},"xid":{"type":"string","minLength":28,"maxLength":28,"example":"Nmp3VFdWMlEwZ05pWGN3SGo4TDA=","description":"ID da transação de autenticação enviado pelo MPI ao estabelecimento (pode conter caracteres especiais). Deve ser enviado apenas para a utilização do serviço de autenticação 3DS. Campo utilizado somente para bandeira Visa."}}},"ObjectThreeDSecureClientV2":{"title":"Object - ThreeDSecureClient v2.0","allOf":[{"$ref":"#/components/schemas/ObjectThreeDSecureClient"}],"required":["threeDIndicator","DirectoryServerTransactionId"],"properties":{"threeDIndicator":{"type":"string","minLength":1,"maxLength":1,"example":"2","description":"Versão do 3DS usado no processo de autenticação pelo MPI."},"DirectoryServerTransactionId":{"type":"string","minLength":36,"maxLength":36,"example":"f38e6948-5388-41a6-bca4-b49723c19437","description":"ID da transação de autenticação incluída pelo MPI ao estabelecimento (pode caracteres especiais).Deve ser enviado apenas para a utilização do serviço de autenticação 3DS."}}},"ObjectThreeDSecureRede":{"title":"Object - ThreeDSecureRede","type":"object","required":["userAgent"],"properties":{"embedded":{"type":"boolean","example":true,"description":"Informa se o serviço MPI utilizado será da Rede ou terceiro.\n  - true: utiliza o serviço MPI da Rede\n  - false: utiliza serviço MPI terceiro\n\nO não envio desse campo será considerado o uso do MPI da Rede (true).\n"},"onFailure":{"type":"string","example":"decline","description":"Define como prosseguir com a transação caso a autenticação 3DS não obtenha sucesso.\n  - continue: prossegue com a transação financeira mesmo se a autenticação falhar.\n  - decline: não prossegue com a transação financeira caso a autenticação falhar.\n\nPara transações de débito o valor deste parâmetro é automaticamente definido para decline devido à obrigatoriedade da autenticação.\n"},"userAgent":{"type":"string","maxLength":500,"description":"Identificador do browser utilizado pelo comprador no momento da compra","example":"Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405"}}},"ObjectThreeDSecureRedeV2":{"title":"Object - ThreeDSecureRede v2.0","type":"object","allOf":[{"$ref":"#/components/schemas/ObjectThreeDSecureRede"}],"properties":{"Device":{"type":"array","items":{"$ref":"#/components/schemas/ObjectThreeDSecureDeviceRede"}}}},"ObjectUrlCallback":{"title":"Object - Url Callback","type":"object","properties":{"kind":{"type":"string","description":"Campo que identifica qual o tipo da url.","example":"callback"},"url":{"type":"string","maxLength":500,"description":"Url que receberá o callback com o status do cancelamento após processado pela Rede. Também é possível cadastrar as url no portal userede. [Clique aqui](e-rede#url-notificacoes) para mais informações","example":"https://cliente.callback.com.br"}}},"ObjectUrlThreeDSecureRede":{"title":"Object - Url ThreeDSecureRede","type":"object","required":["kind","url"],"properties":{"kind":{"type":"string","example":"threeDSecureSuccess","description":"Campo que identifica qual o tipo da url.\n  - threeDSecureSuccess\n  - threeDSecureFailure\n"},"url":{"type":"string","maxLength":87,"description":"Campo para informar a url que o comprador deverá ser redirecionado após a autenticação e ser notificado via postback (application/x-www-form-urlencoded) com os dados da transação. [Clique aqui](e-rede#postback) para mais informações."}}},"ObjectThreeDSecureDeviceRede":{"title":"Object - ThreeDSecureRede Device","type":"object","required":["ColorDepth","DeviceType3ds","javaEnabled","language","screenHeight","screenWidth"],"properties":{"ColorDepth":{"type":"number","maxLength":2,"example":1,"description":"Campo que representa a estimativa da paleta de cores usada para a exibição de imagens, em bits por pixel. Obtido no navegador do cliente através da propriedade."},"DeviceType3ds":{"type":"string","maxLength":20,"example":"BROWSER","description":"Campo que indica tipo de dispositivo no qual a autenticação ocorre."},"javaEnabled":{"type":"boolean","example":false,"description":"Campo booleano que representa a capacidade do navegador para executar Java. O valor é aquele retornado pela propriedade navigator.javaEnabled, true ou false."},"language":{"type":"string","maxLength":10,"example":"BR","description":"Idioma do navegador no formato IETF BCP47 (https://tools.ietf.org/rfc/bcp/bcp47.txt), contendo entre 1 e 8 caracteres."},"screenHeight":{"type":"number","maxLength":6,"example":500,"description":"A altura total da tela do cliente em pixels. O valor é aquele retornado pela propriedade screen.height."},"screenWidth":{"type":"number","maxLength":6,"example":500,"description":"A largura total da tela do cliente em pixels. O valor é aquele retornado pela propriedade screen.width."},"TimeZoneOffset":{"type":"number","example":3}}},"ObjectWallet":{"title":"Object - Wallet","type":"object","properties":{"walletId":{"type":"number","example":1234567890}}},"salesReceiptRequest":{"title":"Complete request payload object","description":"Conteúdo completo do contrato utilizado pela requisição","type":"object","properties":{"receipt":{"$ref":"#/components/schemas/ObjectReceiptContent"},"merchant":{"$ref":"#/components/schemas/ObjectMerchantObjectContent"},"cardHolder":{"$ref":"#/components/schemas/ObjectCardHolderContent"},"terminal":{"$ref":"#/components/schemas/ObjectTerminalContent"},"transaction":{"$ref":"#/components/schemas/ObjectTransactionContent"}}},"ObjectReceiptContent":{"title":"receipt - Request payload object","description":"Conteúdo do objeto de comprovante utilizado pelo corpo da requisição","type":"object","required":["type","biligual","resend","powerOutage","printLogo"],"properties":{"type":{"description":"Classificação do receptor do comprovante a ser emitido","type":"integer","example":1},"biligual":{"description":"Define se o comprovante é bilíngue ou não","type":"boolean","example":false},"resend":{"description":"Define se é um reenvio de comprovante já existente","type":"boolean","example":false},"powerOutage":{"description":"Define se será emitido um comprovante do tipo queda de energia","type":"boolean","example":false},"printLogo":{"description":"Indica se deve ou não ser inclusa a imagem do adquirente","type":"boolean","example":false},"origin":{"description":"Sistema origem que faz a requisição do envio de comprovante","type":"string","example":"ITI"}}},"ObjectMerchantObjectContent":{"title":"merchant - Request payload object","description":"Conteúdo do objeto de estabelecimento utilizado pelo corpo da requisição","type":"object","required":["channel","companyNumber"],"properties":{"channel":{"description":"*Chave que define o método de envio do comprovante*\n<details>  <summary>Lista de códigos de canais possíveis</summary>\n  |Código|Canal de disparo|\n  |:---|:---|\n  |1|EMAIL|\n  |2|SMS|\n</details>","type":"integer","example":1},"companyNumber":{"description":"Número do ponto de venda recebido formatado do terminal","type":"string","maxLength":15,"example":"13452345"},"city":{"description":"Cidade do estabelecimento","type":"string","maxLength":30,"example":"BARUERI"},"documentNumber":{"description":"CNPJ do ponto de venda","type":"string","maxLength":19,"pattern":"([0-9]{2}[\\.]?[0-9]{3}[\\.]?[0-9]{3}[\\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{14}|([0-9]{3}[\\.]?[0-9]{3}[\\.]?[0-9]{3}[\\-]?[0-9]{2})|([0-9]{11}))","example":"99555777000180"},"email":{"description":"Endereço de e-mail","type":"string","example":"exemplo@userede.com.br"},"msisdn":{"description":"Número completo de telefone","type":"string","example":"99999999"},"address1":{"description":"Nome do endereço reduzido do estabelecimento","type":"string","maxLength":36,"example":"AV MARCOS PENTEADO DE ULHOA RODRIGUE"},"address2":{"description":"Nome do endereço impresso na segunda linha do comprovante","type":"string","maxLength":36,"example":"AV MARCOS PENTEADO DE ULHOA RODRIGUE"},"tradeName":{"description":"Nome fantasia do estabelecimento","type":"string","maxLength":60,"example":"ENGENHARIA PROD"},"companyName":{"description":"Denominação do estabelecimento como conhecido pela adquirente","type":"string","maxLength":36,"example":"ENGENHARIA DE PRODUTOS E TI PV TESTE"},"companyPhoneNumber":{"description":"Telefone do estabelecimento","type":"string","maxLength":19,"example":"11968273738"},"latitude":{"description":"Latitude do estabelecimento","type":"string","example":"-23.635403"},"longitude":{"description":"Longitude do estabelecimento","type":"string","example":"-46.642354"}}},"ObjectCardHolderContent":{"title":"cardHolder - Request payload object","description":"Conteúdo do objeto de portador utilizado pelo corpo da requisição","type":"object","required":["channel"],"properties":{"channel":{"description":"*Chave que define o método de envio do comprovante*\n<details>  <summary>Lista de códigos de canais possíveis</summary>\n  |Código|Canal de disparo|\n  |:---|:---|\n  |1|EMAIL|\n  |2|SMS|\n</details>","type":"integer","example":2},"cne":{"description":"Nome complementar do titular do cartão","type":"string","maxLength":26,"example":"DA SILVA"},"carrierAuthorizationCode":{"description":"Codigo da operacao da recarga da operadora","type":"string","maxLength":25},"areaCode":{"description":"DDD do celular que recebeu a recarga","type":"string","maxLength":3,"example":"13"},"email":{"description":"Endereço de e-mail","type":"string","example":"exemplo@userede.com.br"},"digitalWalletId":{"description":"Identificador adicional de cartão na carteira digital","type":"string","example":"90d7de11-40d7-438a-a52f-482d130914cd"},"carrierId":{"description":"Codigo da operadora do celular que recebeu a recarga","type":"string","maxLength":5},"carrierSupportMsg":{"description":"Mensagem de suporte da operadora da recarga","type":"string","maxLength":500},"msisdn":{"description":"Número completo de telefone","type":"string","example":"99999999"},"name":{"description":"Nome do portador do cartão que realizou a transação financeira","type":"string","maxLength":26,"example":"JOSE PEREIRA"},"carrierName":{"description":"Nome da operadora do celular que recebeu a recarga","type":"string","maxLength":25},"phoneNumber":{"description":"Numero do celular que recebeu a recarga","type":"string","maxLength":10,"example":"99999999"}}},"ObjectTerminalContent":{"title":"terminal - Request payload object","description":"Conteúdo do objeto de terminal utilizado pelo corpo da requisição","type":"object","properties":{"logicNumber":{"description":"Identificação única do terminal do ponto de venda","type":"string","maxLength":8,"example":"WY000001"},"seriesNumber":{"description":"Número físico identificador do terminal que realizou a transação","type":"string","maxLength":34,"example":"123-456-789"},"status":{"description":"Mensagem do status do terminal utilizado na emissão de alguns comprovantes","type":"string","maxLength":60,"example":"TERMINAL EM PRODUÇÃO"}}},"ObjectTransactionContent":{"title":"transaction - Request payload object","description":"Conteúdo do objeto de transação utilizado pelo corpo da requisição","type":"object","required":["date"],"properties":{"aid":{"description":"Identifica a aplicação (software) do chip utilizado na transaçao financeira","type":"string","maxLength":32,"example":"1234567890"},"arqc":{"description":"Criptograma gerado na comunicação entre terminal e emissor/bandeira na transação online","type":"string","maxLength":16,"example":"1234567890"},"authentication":{"description":"Número sequencial único atribuído pelo terminal por lote de transação","type":"string","maxLength":6,"example":"123456"},"authorization":{"description":"Identifica a autorização da transação enviada pelo emissor do cartão","type":"string","maxLength":9,"example":"123456"},"voucherData":{"description":"Mensagem que compreende o saldo no caso de transações voucher do cliente e informações dos tipos de serviço disponíveis para o voucher frota","type":"string","maxLength":160,"example":"DADOS VOUCHER01@DADOS VOUCHER02@DADOS VOUCHER03"},"date":{"description":"Data de realização da transação","type":"string","example":"0927"},"hour":{"description":"Hora de realização da transação","type":"string","example":"093000"},"authorizationMsg":{"description":"Mensagem variável a depender do tipo de transação","type":"string","maxLength":150,"example":"ASSINATURA DO CLIENTE"},"issuerMsg":{"description":"Mensagem retornada do emissor para ser emitida no comprovante","type":"string","maxLength":72,"example":"MENSAGEM EMISSOR01@MENSAGEM EMISSOR02@MENSAGEM EMISSOR03"},"redeMsg":{"description":"Mensagem enviada pelo SW controlada pela adquirente","type":"string","maxLength":999,"example":"MENSAGEM REDE01@MENSAGEM REDE02@MENSAGEM REDE03"},"swMsg":{"description":"Mensagem enviada pelo SW para descrever os dados financeiros do comprovante","type":"string","maxLength":500,"example":"VALOR         R$ 100,00PARCELAS             02"},"entryMode":{"description":"Método por meio do qual foi realizada a transação","type":"string","maxLength":1,"example":"D"},"cardAppName":{"description":"Denominação da aplicação no chip do cartão. Descreve bandeira e tipo do produto do cartão","type":"string","example":"CREDITO À VISTA"},"issuerName":{"description":"Denominação da bandeira pela qual a transação foi realizada","type":"string","maxLength":26,"example":"MASTERCARD"},"cardNumber":{"description":"Número do cartão utilizado na transação","type":"string","maxLength":6,"example":"**1234"},"receiptNumber":{"description":"Identifica de forma única um comprovante de transação na origem","type":"string","maxLength":12,"example":"1234567890"},"ravPassword":{"description":"Identifica o conteúdo para autenticação a ser digitado pelo estabelec. para antecipação de recebíveis (RAV)","type":"string","maxLength":12,"example":"1234567890"},"transactionCertificate":{"description":"Criptograma gerado na comunicação entre terminal e cartão na transação offline","type":"string","maxLength":16,"example":"1234567890"},"amountValue":{"description":"Valor da transação efetuada","type":"number","example":1234567890}}},"ObjectResponse201Success":{"title":"201 - Success body Transaction Receipt","type":"object","required":["returnCode","returnMessage"],"properties":{"returnCode":{"description":"Código do retorno.","type":"string","example":"00"},"returnMessage":{"description":"Descrição do retorno.","type":"string","example":"Request registered successfully"}}},"ObjectResponse400BadRequest":{"title":"400 - Invalid Request Transaction Receipt","type":"object","required":["returnCode","returnMessage"],"properties":{"returnCode":{"description":"Código do retorno.","type":"string","example":"01"},"returnMessage":{"description":"Descrição do retorno.","type":"string","example":"There was an error in the registration of the request"}}},"ObjectResponse500ServerErrorMessage":{"title":"500 - Server Error Message Transaction Receipt","type":"object","required":["message"],"properties":{"message":{"description":"Descrição do erro ocorrido.","type":"string","example":"Sorry, an error has occurred, but we are already working on it. Please try again later."}}},"ObjectResponse422FieldErrorMessage":{"title":"422 - Field Error Message Transaction Receipt","description":"Descrição do erro ocorrido, dentro de um objeto com o nome do tipo do parâmetro (_body_, _pathParameters_, etc), com o nome do array de acordo com o campo que apresenta o erro. Por exemplo, se o campo _parentCompanyNumber_ obrigatório não for enviado, o array chamará _parentCompanyNumber_ e será apresentado a mensagem do erro ocorrido.","type":"object","properties":{"body":{"type":"object","properties":{"transaction":{"type":"object","properties":{"amountValue":{"type":"array","items":{"type":"string","example":"Not a valid number."}}}}}}}}},"responses":{"Response200ConfirmarCaptura":{"description":"Autorização de captura por período máximo de acordo com o ramo do estabelecimento.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectResponse200ConfirmarCaptura"}}}},"ResponsePostTransactions":{"description":"","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ObjectResponsePostTransactionsAutorizacao"},{"$ref":"#/components/schemas/ObjectResponsePostTransactionsCompanhiasAereas"},{"$ref":"#/components/schemas/ObjectResponsePostTransactions3DSecureMpiRede"},{"$ref":"#/components/schemas/ObjectResponsePostTransactions3DSecureMpiCliente"},{"$ref":"#/components/schemas/ObjectResponsePostTransactions3DSecure2MpiRede"},{"$ref":"#/components/schemas/ObjectResponsePostTransactions3DSecure2MpiCliente"},{"$ref":"#/components/schemas/ObjectResponsePostTransactionsZeroDollar"},{"$ref":"#/components/schemas/ObjectResponsePostTransactionsMCCDinamico"},{"$ref":"#/components/schemas/ObjectResponsePostTransactionsCarteirasDigitais"},{"$ref":"#/components/schemas/ObjectResponsePostTransactionsCBPSCarteirasDigitais"},{"$ref":"#/components/schemas/ObjectResponsePostTransactionsCASH-INCarteirasDigitais"},{"$ref":"#/components/schemas/ObjectResponsePostTransactionsPURCHASECarteirasDigitais"},{"$ref":"#/components/schemas/ObjectResponsePostTransactionsTokenizacaoDeBandeiras"}]},"examples":{"exemplo1":{"$ref":"#/components/examples/ObjectResponsePostTransactionsAutorizacao"},"exemplo2":{"$ref":"#/components/examples/ObjectResponsePostTransactionsCompanhiasAereas"},"exemplo3":{"$ref":"#/components/examples/ObjectResponsePostTransactions3DSecureMpiRede"},"exemplo4":{"$ref":"#/components/examples/ObjectResponsePostTransactions3DSecureMpiCliente"},"exemplo5":{"$ref":"#/components/examples/ObjectResponsePostTransactions3DSecure2MpiRede"},"exemplo6":{"$ref":"#/components/examples/ObjectResponsePostTransactions3DSecure2MpiCliente"},"exemplo7":{"$ref":"#/components/examples/ObjectResponsePostTransactionsZeroDollar"},"exemplo8":{"$ref":"#/components/examples/ObjectResponsePostTransactionsMCCDinamico"},"exemplo9":{"$ref":"#/components/examples/ObjectResponsePostTransactionsCarteirasDigitais"},"exemplo10":{"$ref":"#/components/examples/ObjectResponsePostTransactionsCBPSCarteirasDigitais"},"exemplo11":{"$ref":"#/components/examples/ObjectResponsePostTransactionsCASH-INCarteirasDigitais"},"exemplo12":{"$ref":"#/components/examples/ObjectResponsePostTransactionsPURCHASECarteirasDigitais"},"exemplo13":{"$ref":"#/components/examples/ObjectResponsePostTransactionsTokenizacaoDeBandeiras"}}}}},"Response400PostTransactions":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectResponse400PostTransactions"}}}},"Response200ConsultaCancelamentoRefundId":{"description":"A consulta de cancelamento por refundId lista uma solicitação de cancelamento específica.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectResponse200ConsultaCancelamentoRefundId"}}}},"Response200ConsultaCancelamentoTid":{"description":"Consulta de cancelamento por tid de todos os cancelamentos que foram realizados na transação.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectResponse200ConsultaCancelamentoTid"}}}},"Response200CancelarTransacao":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectResponse200CancelarTransacao"}}}},"Response200ConsultarTransacao":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectResponse200ConsultarTransacao"}}}},"Response500ServerErrorMessageTransactionReceipt":{"description":"O serviço requisitado encontra-se indisponível no momento.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectResponse500ServerErrorMessage"}}}},"Response415UnsupportedMediaTypeTransactionReceipt":{"description":"O tipo do conteúdo enviado não é o mesmo aceito pela rota."},"Response400BadRequestTransactionReceipt":{"description":"Solicitação Inválida.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectResponse400BadRequest"}}}},"Response422FieldErrorMessageTransactionReceipt":{"description":"Um dado de entrada informado não é logicamente aceito, por alguma restrição relacionada a tamanho, obrigatoriedade, ou outros tipos de validação.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectResponse422FieldErrorMessage"}}}},"Response201SuccessMessageTransactionReceipt":{"description":"Requisição de disparo efetivada com sucesso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectResponse201Success"}}}}},"examples":{"ObjectRequestBodyPostTransactionsAutorizacao":{"summary":"Autorização","value":{"capture":false,"kind":"credit","reference":"pedido123","amount":2099,"installments":2,"cardholderName":"John Snow","cardNumber":"5448280000000007","expirationMonth":12,"expirationYear":2028,"securityCode":"235","softDescriptor":"string","subscription":false,"origin":1,"distributorAffiliation":0,"brandTid":"string","storageCard":"1"}},"ObjectResponsePostTransactionsAutorizacao":{"summary":"Autorização","value":{"reference":"pedido123","tid":"8345000363484052380","nsu":"663206341","authorizationCode":"186376","dateTime":"2017-02-28T08:54:00.000-03:00","amount":2099,"installments":2,"cardBin":"544828","last4":"0007","returnCode":"00","returnMessage":"Success.","brandTid":"226332","links":[{"method":"GET","rel":"transaction","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380"},{"method":"PUT","rel":"capture","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380"},{"method":"POST","rel":"refund","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380/refunds"}]}},"ObjectRequestBodyPostTransactionsCompanhiasAereas":{"summary":"Companhias Aéreas","value":{"capture":true,"reference":"pedido123","amount":2099,"cardholderName":"John Snow","cardNumber":"5448280000000007","expirationMonth":12,"expirationYear":2028,"securityCode":"235","iata":{"code":101010,"departureTax":100}}},"ObjectResponsePostTransactionsCompanhiasAereas":{"summary":"Companhias Aéreas","value":{"reference":"pedido123","tid":"14998545553332396238","nsu":"794728925","authorizationCode":"999225","dateTime":"2018-02-28T08:54:00.000-03:00","amount":2099,"cardBin":"544828","last4":"0007","returnCode":"00","returnMessage":"Success","links":[{"method":"GET","rel":"transaction","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/14998545553332396238"},{"method":"PUT","rel":"capture","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/14998545553332396238"},{"method":"POST","rel":"refund","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/14998545553332396238/refunds"}]}},"ObjectRequestBodyPostTransactions3DSecureMpiRede":{"summary":"3D Secure: MPI Rede","value":{"kind":"debit","capture":true,"reference":"pedido123","amount":2099,"cardholderName":"John Snow","cardNumber":"2223000148400010","expirationMonth":12,"expirationYear":2028,"securityCode":"235","threeDSecure":{"embedded":true,"onFailure":"decline","userAgent":"Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405"},"urls":[{"kind":"threeDSecureSuccess","url":"https://scommerce.userede.com.br/LojaTeste/Venda/sucesso"},{"kind":"threeDSecureFailure","url":"https://scommerce.userede.com.br/LojaTeste/Venda/erro"}]}},"ObjectResponsePostTransactions3DSecureMpiRede":{"summary":"3D Secure: MPI Rede","value":{"dateTime":"2017-02-12T10:54:00.000-03:00","threeDSecure":{"embedded":true,"url":"https://localhost:55888/auth?token=Eh%2bs8NvL719YKUJ%2bbmq7xf0TWhJAm2vP1c3FDf9a9OaYOaYB9N%2bOSWqXlX2y9ARjr%2bWqtBzuQSkdZXOnKhecSAgjJW3S3yrc7S5IeLe3JeoOsJXu8VtkdHo9v%2bv28OOO%2bjp2LCuL45lZzHji7fJ6thg6Cz9Z4U572NUjXtxMSVV%2b1%2fQqBRqO3qLJlAduU%2fYcnOzl10eB3%2fgoJelC964%2bAmLSTQFs6ERXOR3fGTIJT14zGr9rhK7vynXj0NIcvXfTYJLreCXw%2bclMCg5gzfdfHz8tvuNjcxKZJ1VWSc%2fiH4A%3d"},"returnCode":"220","returnMessage":"Solicitação transação com autenticação recebida. URL de redirecionamento enviada"}},"ObjectRequestBodyPostTransactions3DSecureMpiCliente":{"summary":"3D Secure: MPI Cliente","value":{"reference":"pedido123","amount":2099,"cardholderName":"John Snow","cardNumber":"5448280000000007","expirationMonth":12,"expirationYear":2028,"securityCode":"235","threeDSecure":{"embedded":false,"cavv":"BwABBylVaQAAAAFwllVpAAAAAAA=","eci":"05","xid":"Nmp3VFdWMlEwZ05pWGN3SGo4TDA="}}},"ObjectResponsePostTransactions3DSecureMpiCliente":{"summary":"3D Secure: MPI Cliente","value":{"reference":"pedido123","tid":"10073999764559129384","nsu":"794728925","authorizationCode":"999225","dateTime":"2017-02-12T10:54:00.000-03:00","amount":2099,"cardBin":"544828","last4":"0007","returnCode":"00","returnMessage":"Success.","links":[{"method":"GET","rel":"transaction","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/10073999764559129384"},{"method":"POST","rel":"refunds","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/10073999764559129384/refunds"}]}},"ObjectRequestBodyPostTransactions3DSecure2MpiRede":{"summary":"3D Secure 2.0: MPI Rede","value":{"capture":false,"reference":"pedido123","amount":2099,"cardholderName":"John Snow","cardNumber":"2223000148400010","expirationMonth":12,"expirationYear":2028,"securityCode":"235","threeDSecure":{"embedded":true,"onFailure":"continue","userAgent":"Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405","Device":{"ColorDepth":1,"DeviceType3ds":"BROWSER","JavaEnabled":false,"Language":"BR","ScreenHeight":500,"ScreenWidth":500,"TimeZoneOffset":3}},"urls":[{"kind":"threeDSecureSuccess","url":"https://scommerce.userede.com.br/LojaTeste/Venda/sucesso"},{"kind":"threeDSecureFailure","url":"https://scommerce.userede.com.br/LojaTeste/Venda/erro"}]}},"ObjectResponsePostTransactions3DSecure2MpiRede":{"summary":"3D Secure 2.0: MPI Rede","value":{"dateTime":"2019-08-01T10:01:03.000-03:00","threeDSecure":{"embedded":true,"url":"https://scommerce.userede.com.br/adquirencia/mpi/auth?token=7z3nVtKnea4Gsf4N%2bpeM2j8M%2fund%2bTfwDNVoAZLC7EqKC3gqzOjlDV0%2fpg928%2bh1sABmy1ZPlzyWxTqakpotWa%2f7lq9wsDZ6b4Yk8KVXxR1xM00UmxR05V2bZiq%2bF%2fcrscUWE76jS%2fDRokAa1RTEhn18Yw8Q7SAZafPc4YCpdWYgfVUxtZP4FDrC2KAqayjpzPL85JjYDeujUdCgVhEhWimXLkkH6iJfC2qYPppv94iHm4CYlAyKsxmjkb76KFFOB4uGocaHSR%2fOgDoOTyTxmxZ%2fTtH45WKq%2b4XmqG9LnDI%3d"},"returnCode":"220","returnMessage":"Transaction request with authentication received. Redirect URL sent."}},"ObjectRequestBodyPostTransactions3DSecure2MpiCliente":{"summary":"3D Secure 2.0: MPI Cliente","value":{"reference":"pedido123","amount":2099,"cardholderName":"John Snow","cardNumber":"5448280000000007","expirationMonth":12,"expirationYear":2028,"securityCode":"235","threeDSecure":{"embedded":false,"cavv":"BwABBylVaQAAAAFwllVpAAAAAAA=","eci":"05","xid":"Nmp3VFdWMlEwZ05pWGN3SGo4TDA=","threeDIndicator":"2","DirectoryServerTransactionId":"f38e6948-5388-41a6-bca4-b49723c19437"}}},"ObjectResponsePostTransactions3DSecure2MpiCliente":{"summary":"3D Secure 2.0: MPI Cliente","value":{"reference":"pedido123","tid":"10073999764559129384","nsu":"794728925","authorizationCode":"999225","dateTime":"2017-02-12T10:54:00.000-03:00","amount":2099,"cardBin":"411111","last4":"1111","returnCode":"00","returnMessage":"Success.","links":[{"method":"GET","rel":"transaction","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/10073999764559129384"},{"method":"POST","rel":"refunds","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/10073999764559129384/refunds"}]}},"ObjectRequestBodyPostTransactionsZeroDollar":{"summary":"Zero dollar","value":{"capture":true,"kind":"credit","reference":"TZD001","amount":0,"cardholderName":"John Snow","cardNumber":"5448280000000007","expirationMonth":12,"expirationYear":2028,"securityCode":"235"}},"ObjectResponsePostTransactionsZeroDollar":{"summary":"Zero dollar","value":{"reference":"TZD001","tid":"23457157041","nsu":"22043","authorizationCode":"112580","dateTime":"2017-02-12T10:54:00.000-03:00","amount":0,"cardBin":"544828","last4":"0007","returnCode":"174","returnMessage":"Zero dollar transaction success.","links":[{"rel":"self","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/23457157041"},{"rel":"refund","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/23457157041/refunds"}]}},"ObjectRequestBodyPostTransactionsMCCDinamico":{"summary":"MCC dinâmico","value":{"reference":"pedido123","amount":2099,"cardholderName":"John Snow","cardNumber":"5448280000000007","expirationMonth":12,"expirationYear":2028,"securityCode":"235","softDescriptor":"LOJADOZE","PaymentFacilitatorID":22349202212,"IndependentSalesOrganizationID":1234567,"SubMerchant":{"MCC":1111,"SubMerchantID":1234567890,"Address":"Rua Acre","City":"CAPIVARI","State":"SP","Country":"BRA","Cep":"07064-010","Cnpj":"71.789.371/0001-42","TaxIdNumber":"99999999999"}}},"ObjectResponsePostTransactionsMCCDinamico":{"summary":"MCC dinâmico","value":{"reference":"pedido123","tid":"10073999764559129384","nsu":"794728925","authorizationCode":"999225","brandTid":1234567890123456,"dateTime":"2017-02-12T10:54:00.000-03:00","amount":2099,"cardBin":"544828","last4":"0007","returnCode":"00","returnMessage":"Success.","links":[{"method":"GET","rel":"transaction","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/10073999764559129384"},{"rel":"refunds","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/10073999764559129384/refunds"}]}},"ObjectRequestBodyPostTransactionsCarteirasDigitais":{"summary":"Carteiras digitais","value":{"reference":"pedido578","amount":2099,"cardholderName":"Joao das Neves","cardNumber":"5448280000000007","expirationMonth":12,"expirationYear":2028,"securityCode":"235","origin":4,"storageCard":"1"}},"ObjectResponsePostTransactionsCarteirasDigitais":{"summary":"Carteiras digitais","value":{"reference":"pedido578","tid":"8345000363484052380","nsu":"663206341","authorizationCode":"186376","dateTime":"2017-02-28T08:54:00.000-03:00","amount":2099,"cardBin":"544828","last4":"0007","returnCode":"00","returnMessage":"Success.","links":[{"method":"GET","rel":"transaction","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380"},{"method":"POST","rel":"refund","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380/refunds"}]}},"ObjectRequestBodyPostTransactionsCBPSCarteirasDigitais":{"summary":"CBPS + Carteiras digitais","value":{"capture":false,"reference":"c202012291716","amount":2099,"cardNumber":"5448280000000007","expirationMonth":12,"expirationYear":2028,"securityCode":"123","consumerBillPaymentService":{"businessApplicationIdentifier":"01"},"wallet":{"walletId":1234567890,"processingType":"1","senderTaxIdentification":"11122233344"}}},"ObjectResponsePostTransactionsCBPSCarteirasDigitais":{"summary":"CBPS + Carteiras digitais","value":{"reference":"pedido578","tid":"8345000363484052380","nsu":"663206341","authorizationCode":"186376","brandTid":"480064","dateTime":"2017-02-28T08:54:00.000-03:00","amount":2099,"cardBin":"544828","last4":"0007","returnCode":"00","returnMessage":"Success.","links":[{"method":"GET","rel":"transaction","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380"},{"method":"POST","rel":"refund","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380/refunds"}]}},"ObjectRequestBodyPostTransactionsCASH-INCarteirasDigitais":{"summary":"CASH-IN + Carteiras digitais","value":{"capture":true,"reference":"pedido456","amount":2099,"cardNumber":"5448280000000007","expirationMonth":12,"expirationYear":2028,"securityCode":"123","consumerBillPaymentService":{"businessApplicationIdentifier":"02"},"wallet":{"walletId":1234567890,"processingType":"02","senderTaxIdentification":"11122233344"}}},"ObjectResponsePostTransactionsCASH-INCarteirasDigitais":{"summary":"CASH-IN + Carteiras digitais","value":{"reference":"pedido456","tid":"8345000363484052380","nsu":"663206341","authorizationCode":"480064","brandTid":"480064","dateTime":"2022-03-02T08:54:00.000-03:00","amount":2099,"cardBin":"544828","last4":"0007","returnCode":"00","returnMessage":"Success.","links":[{"method":"GET","rel":"transaction","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380"},{"method":"POST","rel":"refund","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380/refunds"}]}},"ObjectRequestBodyPostTransactionsPURCHASECarteirasDigitais":{"summary":"PURCHASE + Carteiras digitais","value":{"capture":true,"reference":"pedido789","amount":2099,"cardNumber":"5448280000000007","expirationMonth":12,"expirationYear":2028,"securityCode":"123","consumerBillPaymentService":{"businessApplicationIdentifier":"01"},"wallet":{"walletId":1234567890,"processingType":"01","senderTaxIdentification":"11122233344"}}},"ObjectResponsePostTransactionsPURCHASECarteirasDigitais":{"summary":"PURCHASE + Carteiras digitais","value":{"reference":"pedido789","tid":"8345000363484052380","nsu":"663206341","authorizationCode":"480064","brandTid":"480064","dateTime":"2022-03-02T08:54:00.000-03:00","amount":2099,"cardBin":"544828","last4":"0007","returnCode":"00","returnMessage":"Success.","links":[{"method":"GET","rel":"transaction","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380"},{"method":"POST","rel":"refund","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/8345000363484052380/refunds"}]}},"ObjectRequestBodyPostTransactionsTokenizacaoDeBandeiras":{"summary":"Tokenizacao de Bandeiras","value":{"capture":true,"kind":"credit","reference":"m150420163135479","amount":2099,"cardholderName":"John Snow","cardNumber":"2223000250000004","expirationMonth":11,"expirationYear":2026,"securityCode":"122","tokenCryptogram":"ANbuvvxnDbK2AAEShHMWGgADFA==","storageCard":"1"}},"ObjectResponsePostTransactionsTokenizacaoDeBandeiras":{"summary":"Tokenizacao de Bandeiras","value":{"reference":"m150420163135479","tid":"10012004151529330026","nsu":"999994995","authorizationCode":"005395","brandTid":"005395","dateTime":"2020-04-15T16:29:49.000-03:00","amount":2099,"cardBin":"52686","last4":"5596","returnCode":"00","returnMessage":"Success.","links":[{"method":"GET","rel":"transaction","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/10012004151529330026"},{"method":"POST","rel":"refund","href":"https://sandbox-erede.useredecloud.com.br/v1/transactions/10012004151529330026/refunds"}]}}}}}
